<!DOCTYPE html>
<html lang="en">
<head>
<title> My todo list</title>
</head>
<body><h1>My todos before the end of the year:</h1></body>
<ul>{%for todo in todos %}
       <li>{{todo}}</li> 
       <li style = "{% if todo ['complete'] == 1 %} color: blue {% endif %}">
       {%if todo["complete"] == 0 %} 
       <form action="/complete" method ="post"> 
       <input name = "todo_id" value = "{{todo['id']}}">
       <input type ="submit" value="complete">
       </form>
       {% endif %}
       {{todo["description"]}}
       </li>
        {% endfor %}
</ul>

<div class="form-group mb-2">
<form
        action = "/add"
        method = "post"
        >

<label for = "exampleTextarea">Add Todo</label>


<textarea name="new_todo">
</textarea>
</div>



<input type = "submit">
</form>
</html>